@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow&family=Roboto:wght@300&family=Source+Code+Pro&display=swap');


#editor {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

label {
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.ProseMirror h1 {
  font-family: 'Pragati Narrow', sans-serif;

}